<a href="https://colab.research.google.com/github/DengChiung/kmuh20230325/blob/main/DataClear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
df = pd.DataFrame(iris["data"], columns=iris["feature_names"])
df["ans"] = iris["target"]
#df

In [15]:
train_df = pd.read_csv("./Data/train.csv", encoding="utf-8")
test_df = pd.read_csv("./Data/test.csv", encoding="utf-8")
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [16]:
# "Embarked"最常出現的類別
most = train_df["Embarked"].value_counts().idxmax()
#train_df["Embarked"] = traixn_df["Embarked"].fillna(most)
print(most)

S

In [17]:
# 數值:取中位數 補值
med = train_df.median().drop(["Pclass"])
#train_df = train_df.fillna(med)
#s = train_df.isna().sum()
#s[s > 0].sort_values(ascending=False)

<ipython-input-17-db4c2ce4b98a>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  med = train_df.median().drop(["Pclass"])